@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Start your work</h2>
            <p>
                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Get started</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Resent activity</h2>
            <p>*Placeholder for resent activity*</p>
        </div>
        <div class="col-md-4">
            <h2>News</h2>
            <p>*Placeholder for news</p>
        </div>
    </div>
</div>
