@page
@model UI.Pages.User.Index

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Role</th>
        <th scope="col">Login</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Model.UserModels.Length; i++)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@Model.UserModels[i].RoleName</td>
            <td>@Model.UserModels[i].Login</td>
            <td>
                <a asp-page="Edit" asp-route-id="@Model.UserModels[i].Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>