<h1>Test list</h1>
<!-- <table class="table table-striped">
  <thead>
    <tr>User: </tr>
    <tr>
      <td>Added</td>
      <td>Updated</td>
      <td>Success</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of driwingTests">
      <td>{{p?.addedAt | date:'medium'}}</td>
      <td>{{(p?.updatedAt | date:'medium')}}</td>
      <td>{{p?.success}}</td>
    </tr>
  </tbody>
</table> -->

<div class="container py-2 mt-4 mb-4">
  <div class="row no-gutters" *ngFor="let p of driwingTests; let i = index">
    <div *ngIf="p?.success; then set else unset"></div>
    <ng-template #set>
      <div class="col-sm"> <!--spacer--> </div>
      <!-- timeline item center dot Success -->
      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-success">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <!-- timeline item event content Success-->
      <div class="col-sm py-2">
        <div class="card border-success shadow">
          <div class="card-body">
            <div class="float-right text-muted small">{{p?.updatedAt | date:'medium'}}</div>
            <a [routerLink]="['test', p.id]" class="nav-link"><h4 class="card-title text-success">Test {{i+1}}</h4></a>
            <p class="card-text">Succeeded</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #unset>

      <div class="col-sm py-2">
        <div class="card">
          <div class="card-body">
            <div class="float-right text-muted small">{{p?.updatedAt | date:'medium'}}</div>
            <a [routerLink]="['test', p.id]" class="nav-link"><h4 class="card-title text-danger" *ngIf="!p?.success">Test {{i+1}}</h4></a>
            <p class="card-text">Failured</p>
            <button class="btn btn-sm btn-outline-secondary" type="button" [attr.data-target]="'#tdetails_' + i" data-toggle="collapse">Show Details ▼</button>
            <div class="collapse border" [attr.id]="'tdetails_' + i">
              <div class="p-2 text-monospace">
                <div>08:30 - 09:00 Breakfast in CR 2A</div>
                <div>09:00 - 10:30 Live sessions in CR 3</div>
                <div>10:30 - 10:45 Break</div>
                <div>10:45 - 12:00 Live sessions in CR 3</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
          <span class="badge badge-pill bg-danger">&nbsp;</span>
        </h5>
        <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>

      <div class="col-sm"> <!--spacer--> </div>

    </ng-template>
  </div>
</div>
