<h2>Registration</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="login">Login</label>
    <input type="text" id="login" formControlName="login" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.login.errors }"/>
    <div *ngIf="submitted && formData.login.errors" class="invalid-feedback">
      <div *ngIf="formData.login.errors.required">Login is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.password.errors }"/>
    <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
      <div *ngIf="formData.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.name.errors }"/>
    <div *ngIf="submitted && formData.name.errors" class="invalid-feedback">
      <div *ngIf="formData.name.errors.required">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.email.errors }"/>
    <div *ngIf="submitted && formData.email.errors" class="invalid-feedback">
      <div *ngIf="formData.email.errors.required">Email is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.address.errors }"/>
    <div *ngIf="submitted && formData.address.errors" class="invalid-feedback">
      <div *ngIf="formData.address.errors.required">Address is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone number</label>
    <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && formData.phoneNumber.errors }"/>
    <div *ngIf="submitted && formData.phoneNumber.errors" class="invalid-feedback">
      <div *ngIf="formData.phoneNumber.errors.required">Phone number is required</div>
    </div>
  </div>
  <div class="form-group">
    <button [disabled]="submitClick" class="btn btn-primary">Submit</button>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>
